<div>

    <md-content class="md-padding">

        <md-button ng-click="refresh();">Refresh</md-button>

        <md-tabs>
            <md-tab label="Scenarios">

                <md-content>

                    <md-list>
                        <md-item ng-repeat="(scenarioKey, scenario) in scenarios">

                            <nocca-widgets-scenario
                                scenario="scenario">

                            </nocca-widgets-scenario>

                            <md-divider></md-divider>
                        </md-item>
                    </md-list>

                </md-content>

            </md-tab>
            <md-tab label="Repositories">

                <md-content>

                    <md-button ng-click="clearCacheRepositories()">
                        <span class="fa fa-fw fa-trash-o"></span>
                        Clear all
                    </md-button>

                    <md-list>
                        <md-item ng-repeat="(endpointKey, caches) in repositories">

                            <nocca-widgets-cache-repository
                                endpoint-key="endpointKey"
                                caches="caches">

                            </nocca-widgets-cache-repository>

                            <md-divider></md-divider>
                        </md-item>
                    </md-list>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>