<div>

    <md-content class="md-padding" layout="column">

        <h2>HTTP API</h2>

        <div layout="row">
            <div flex="50">
                <p>
                    Currently registered HTTP API endpoints.
                </p>
                <code>API location: {{ httpApiHost }}</code>
            </div>
            <div>
                <md-input-container>
                    <label>filter</label>
                    <input type="text" ng-model="apiFilter">
                </md-input-container>
            </div>
        </div>



        <md-list>
            <md-list-item class="md-3-line"
                ng-repeat="route in httpApi | filter:apiFilter | orderBy:'path'"
                layout="column"
                layout-align="start start">

                <div class="md-list-item-text">
                    <code>{{ route.path }}</code>
                    <p>{{ route.description }}</p>
                    <p>{{ route.method }}</p>
                </div>

                <md-divider></md-divider>

            </md-list-item>

        </md-list>

    </md-content>

</div>
