<md-content class="md-padding">

    <h2>Status</h2>

    <md-tabs md-selected="selectedIndex" flex>
        <md-tab label="All responses">
            <div>
                <md-content class="md-spacing">

                    <md-list>
                        <md-list-item ng-repeat="(hash, response) in data.responses track by hash">

                            <nocca-widgets-response response="response"></nocca-widgets-response>

                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>

                </md-content>
            </div>
        </md-tab>
        <md-tab label="By Endpoints">

            <md-content>

                <section ng-repeat="(endpoint, hashKeys) in data.endpoints track by endpoint">

                    <md-subheader class="md-primary">Endpoint: {{ endpoint }}</md-subheader>

                    <md-list>
                        <md-item ng-repeat="hashKey in hashKeys | noccaDataUnique">

                            <nocca-widgets-response response="data.responses[hashKey]"></nocca-widgets-response>

                            <md-divider></md-divider>

                        </md-item>
                    </md-list>

                </section>

            </md-content>

        </md-tab>
        <md-tab label="Recorded">

            <md-content>
                <section>

                    <md-list>
                        <md-item ng-repeat="hashKey in data.recorded track by $index">

                            <nocca-widgets-response response="data.responses[hashKey]"></nocca-widgets-response>

                            <md-divider></md-divider>

                        </md-item>
                    </md-list>

                </section>

            </md-content>

        </md-tab>

        <md-tab label="Forwarded">

            <md-content ng-show="data.forwarded.length">
                <section>

                    <md-list>
                        <md-item ng-repeat="hashKey in data.forwarded track by $index">

                            <nocca-widgets-response response="data.responses[hashKey]"></nocca-widgets-response>

                            <md-divider></md-divider>

                        </md-item>
                    </md-list>

                </section>

            </md-content>

        </md-tab>

        <md-tab label="Replayed">

            <md-content ng-show="data.replayed.length">

                <section>

                    <md-list>
                        <md-item ng-repeat="hashKey in data.replayed track by $index">

                            <nocca-widgets-response response="data.responses[hashKey]"></nocca-widgets-response>

                            <md-divider></md-divider>

                        </md-item>
                    </md-list>

                </section>

            </md-content>

        </md-tab>

    </md-tabs>

    <pre>{{ data | json:4 }}</pre>

</md-content>