.nocca-status-filter .md-button {
    min-width: 0px;
}
.nocca-timestamp {
    opacity: .7;
    font-size: 12px;
}

.nocca-story-line {

    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    // this is the restoring delay
    -webkit-transition-delay: 6s; /* Chrome, Safari, Opera */
    transition-delay: 6s;

    color: rgba(0,0,0,.5);

    // highlight new elements
    &.ng-enter.ng-enter-active {
        color: rgba(0,0,0,1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    &:hover .md-tile-content {
        color: rgba(0,0,0,1);
    }

    .md-tile-content {
        padding-bottom: 5px;
        padding-top: 5px;
    }

}