<md-content layout-fill>

    <div class="md-padding" layout="row" layout-align="start start">

        <div layout="column" class="md-padding">

            <md-button ng-click="preferences.toggleProperty('request.raw')"
                ng-class="{'md-accent': preferences.getProperty('request.raw') }">

                <md-tooltip md-direction="right">Show or hide this</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-eye': preferences.getProperty('request.raw'),
                    'fa-eye-slash': !preferences.getProperty('request.raw')
                }"></span>
            </md-button>
            <md-button ng-click="preferences.rawWrap = !preferences.rawWrap"
                ng-class="{'md-accent': preferences.rawWrap}">

                <md-tooltip md-direction="right">Wrap long lines</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-level-down fa-rotate-90': preferences.rawWrap,
                    'fa-long-arrow-down fa-rotate-270': !preferences.rawWrap
                }"></span>
            </md-button>

        </div>
        <div flex>
            <md-content class="md-padding">
                <pre ng-show="preferences.getProperty('request.raw')" ng-class="{'nocca-request-preview-wrap': preferences.rawWrap}">{{ preview | json:4 }}</pre>
            </md-content>
        </div>

    </div>

    <md-divider></md-divider>

    <div class="md-padding" layout="row" layout-align="start start">

        <div layout="column" class="md-padding">
            <md-button ng-click="preferences.body = !preferences.body"
                ng-class="{'md-accent': preferences.body}">

                <md-tooltip md-direction="right">Show or hide this</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-eye': preferences.body,
                    'fa-eye-slash': !preferences.body
                }"></span>
            </md-button>
            <md-button ng-click="preferences.bodyWrap = !preferences.bodyWrap"
                ng-class="{'md-accent': preferences.bodyWrap}">

                <md-tooltip md-direction="right">Wrap long lines</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-level-down fa-rotate-90': preferences.bodyWrap,
                    'fa-long-arrow-down fa-rotate-270': !preferences.bodyWrap
                }"></span>
            </md-button>

            <md-button ng-click="preferences.bodyPrettyPrint = !preferences.bodyPrettyPrint"
                ng-class="{'md-accent': preferences.bodyPrettyPrint}">

                <md-tooltip md-direction="right">Fix indention</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-align-justify': !preferences.bodyPrettyPrint,
                    'fa-indent': preferences.bodyPrettyPrint
                }"></span>
            </md-button>
        </div>
        <div flex>
            <md-content class="md-padding">

                <em ng-show="!preview.body">No body to show</em>

                <pre ng-show="preview.body && preferences.body && !preferences.bodyPrettyPrint"
                    ng-class="{'nocca-request-preview-wrap': preferences.bodyWrap}">{{ preview.body }}</pre>

                <pre ng-show="preview.body && preferences.body && preferences.bodyPrettyPrint"
                    ng-class="{'nocca-request-preview-wrap': preferences.bodyWrap}">{{ prettyBody }}</pre>

            </md-content>
        </div>

    </div>

</md-content>