<md-content layout-fill>

    <div class="md-padding" layout="row" layout-align="start start">

        <div layout="column" class="md-padding">

            <md-button ng-click="requestDialog.raw = !requestDialog.raw"
                ng-class="{'md-accent': requestDialog.raw}">

                <md-tooltip md-direction="right">Show or hide this</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-eye': requestDialog.raw,
                    'fa-eye-slash': !requestDialog.raw
                }"></span>
            </md-button>
            <md-button ng-click="requestDialog.rawWrap = !requestDialog.rawWrap"
                ng-class="{'md-accent': requestDialog.rawWrap}">

                <md-tooltip md-direction="right">Wrap long lines</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-level-down fa-rotate-90': requestDialog.rawWrap,
                    'fa-long-arrow-down fa-rotate-270': !requestDialog.rawWrap
                }"></span>
            </md-button>

        </div>
        <div flex>
            <md-content class="md-padding">
                <pre ng-show="requestDialog.raw" ng-class="{'nocca-request-preview-wrap': requestDialog.rawWrap}">{{ preview | json:4 }}</pre>
            </md-content>
        </div>

    </div>

    <md-divider></md-divider>

    <div class="md-padding" layout="row" layout-align="start start">

        <div layout="column" class="md-padding">
            <md-button ng-click="requestDialog.body = !requestDialog.body"
                ng-class="{'md-accent': requestDialog.body}">

                <md-tooltip md-direction="right">Show or hide this</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-eye': requestDialog.body,
                    'fa-eye-slash': !requestDialog.body
                }"></span>
            </md-button>
            <md-button ng-click="requestDialog.bodyWrap = !requestDialog.bodyWrap"
                ng-class="{'md-accent': requestDialog.bodyWrap}">

                <md-tooltip md-direction="right">Wrap long lines</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-level-down fa-rotate-90': requestDialog.bodyWrap,
                    'fa-long-arrow-down fa-rotate-270': !requestDialog.bodyWrap
                }"></span>
            </md-button>

            <md-button ng-click="requestDialog.bodyPrettyPrint = !requestDialog.bodyPrettyPrint"
                ng-class="{'md-accent': requestDialog.bodyPrettyPrint}">

                <md-tooltip md-direction="right">Fix indention</md-tooltip>
                <span class="fa fa-fw" ng-class="{
                    'fa-align-justify': !requestDialog.bodyPrettyPrint,
                    'fa-indent': requestDialog.bodyPrettyPrint
                }"></span>
            </md-button>
        </div>
        <div flex>
            <md-content class="md-padding">

                <em ng-show="!preview.body">No body to show</em>

                <pre ng-show="preview.body && requestDialog.body && !requestDialog.bodyPrettyPrint"
                    ng-class="{'nocca-request-preview-wrap': requestDialog.bodyWrap}">{{ preview.body }}</pre>

                <pre ng-show="preview.body && requestDialog.body && requestDialog.bodyPrettyPrint"
                    ng-class="{'nocca-request-preview-wrap': requestDialog.bodyWrap}">{{ prettyBody }}</pre>

            </md-content>
        </div>

    </div>

</md-content>
