<md-item-content>

    <div class="md-tile-left nocca-response-tile-left">
        <span class="nocca-timestamp fa fa-clock-o"> {{ response.timestamp | date:'HH:mm:ss.sss' }}</span>
        <em>{{ response.response.statusCode}}</em>
        <em>{{ response.request.method }}</em>

        <md-button ng-click="showDialog($event)">
            View bodies
        </md-button>
    </div>
    <div class="md-tile-content">
        <h3>
            {{ response.hash }}
        </h3>

        <p>
            <span>
                <md-tooltip>endpoint definition</md-tooltip>
                <span class="fa fa-server"></span>
                {{ response.endpoint.key }}
            </span>
        </p>

        <div ng-mouseleave="truncateOn()" ng-mouseenter="truncateOff()">
            <p>
                <md-tooltip>Generated request key</md-tooltip>
                <span class="fa fa-key"></span>
                {{ response.requestKey | characters:truncateLength:true }}
            </p>
        </div>

        <p>
            <span>
                <md-tooltip>incoming request</md-tooltip>
                <span class="fa fa-sign-in"></span>
                {{ response.request.method }} {{ response.request.url }}
            </span>
        </p>
        <p ng-show="response.proxiedRequest">
            <span>
                <md-tooltip>forwarded request</md-tooltip>
                <span class="fa fa-sign-out"></span>
                {{ response.proxiedRequest.method }} {{ response.proxiedRequest.protocol + '//' + response.proxiedRequest.host + response.proxiedRequest.path }}
            </span>
        </p>
        <!--<h4>-->
            <!--recorded: 0 | forwarded: 0 | replayed: 0-->
        <!--</h4>-->
        <!--<p>-->
            <!--<md-button ng-click="showDialog($event)">-->
                <!--View bodies-->
            <!--</md-button>-->
        <!--</p>-->
    </div>

</md-item-content>