.nocca-response {

    .nocca-response-tile-left {
        text-align: center;
        padding-right: 15px;

        em {
            display: block;
            font-style: normal;
            font-size: 150%;
            font-weight: bold;
        }

        .md-button {
            font-size: 80%;
        }

    }


    p {
        margin: .5em 0;
    }

    h3 {
        margin: 0;
    }
}