<md-item-content>

    <div class="md-tile-left nocca-response-tile-left">
        <span class="nocca-timestamp fa fa-clock-o"> {{ response.timestamp | date:'HH:mm:ss.sss' }}</span>
        <em>{{ response.clientResponse.statusCode}}</em>
        <em>{{ response.clientRequest.method }}</em>

        <md-button ng-click="showDialog($event)">
            View bodies
        </md-button>
    </div>
    <div class="md-tile-content nocca-response-tile-right">
        <h3>
            {{ response.hash }}
        </h3>

        <p>
            <span>
                <md-tooltip>endpoint definition</md-tooltip>
                <span class="fa fa-server"></span>
                {{ response.endpoint.key }}
            </span>
        </p>

        <div>
            <p>
                <md-tooltip>Generated request key</md-tooltip>
                <a class="nocca-key" ng-click="showKey($event, response.requestKey)" href="">
                    <span class="fa fa-key"></span>
                    {{ response.requestKey | characters:truncateLength:true }}
                </a>
            </p>
        </div>

        <p>
            <span>
                <md-tooltip>incoming request</md-tooltip>
                <span class="fa fa-sign-in"></span>
                {{ response.clientRequest.method }} {{ response.clientRequest.path }}
            </span>
        </p>
        <p ng-show="response.proxiedRequest">
            <span>
                <md-tooltip>forwarded request</md-tooltip>
                <span class="fa fa-sign-out"></span>
                {{ response.proxiedRequest.method }} {{ response.proxiedRequest.protocol + '//' + response.proxiedRequest.host + response.proxiedRequest.path }}
            </span>
        </p>
    </div>

</md-item-content>