<md-sidenav class="md-sidenav-left md-whiteframe-z1 nocca-side-nav"
    md-component-id="nav"
    ng-mouseleave="hideNavOnMouseLeave()">

    <md-toolbar>
        <md-button ng-click="toggleNav()" layout="row" layout-align="center center">
            <h1 class="md-toolbar-tools">
                <span class="fa fa-chevron-left" style="margin-right: 1em;"></span>
                Nav
            </h1>
        </md-button>
    </md-toolbar>

    <md-content class="md-padding">

        <md-list>
            <md-list-item layout="column">
                <div layout-fill
                    class="md-tile-content nocca-nav-block"
                    ui-sref="{{ uiStates.status }}"
                    ng-click="hideNavOnMouseLeave(true)">

                    <h3 class="md-title">Status</h3>
                    <p class="md-caption">
                        Received requests, responses, recordings, etc
                    </p>
                    <p layout="column" class="md-caption">
                        <a class="nocca-nav-link">
                            View status
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <!-- TODO: This is commented out as the repositories are plugins and are not guaranteed to be present.. need a fix. -->
            <!--<md-list-item layout="column">-->
                <!--<div layout-fill-->
                    <!--class="md-tile-content nocca-nav-block"-->
                    <!--ui-sref="{{ uiStates.caches }}"-->
                    <!--ng-click="hideNavOnMouseLeave(true)">-->

                    <!--<h3 class="md-title">Manage caches</h3>-->
                    <!--<p class="md-caption">-->
                        <!--Import caches, export caches, yadayada-->
                    <!--</p>-->
                    <!--<p layout="column" class="md-caption">-->
                        <!--<a class="nocca-nav-link">-->
                            <!--Manage caches-->
                            <!--<span class="fa fa-angle-right"></span>-->
                        <!--</a>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<md-divider></md-divider>-->
            <!--</md-list-item>-->
            <!-- TODO: This is commented out as the repositories are plugins and are not guaranteed to be present.. need a fix. -->
            <!--<md-list-item layout="column">-->
                <!--<div layout-fill-->
                    <!--class="md-tile-content nocca-nav-block"-->
                    <!--ui-sref="{{ uiStates.scenarios }}"-->
                    <!--ng-click="hideNavOnMouseLeave(true)">-->

                    <!--<h3 class="md-title">Manage scenarios</h3>-->
                    <!--<p class="md-caption">-->
                        <!--Start and stop-->
                    <!--</p>-->
                    <!--<p layout="column" class="md-caption">-->
                        <!--<a class="nocca-nav-link">-->
                            <!--Manage scenarios-->
                            <!--<span class="fa fa-angle-right"></span>-->
                        <!--</a>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<md-divider></md-divider>-->
            <!--</md-list-item>-->
            <md-list-item layout="column">
                <div layout-fill
                    class="md-tile-content nocca-nav-block"
                    ui-sref="{{ uiStates.httpApi }}"
                    ng-click="hideNavOnMouseLeave(true)">

                    <h3 class="md-title">HTTP API</h3>
                    <p class="md-caption">
                        View HTTP API endpoints and docs
                    </p>
                    <p layout="column" class="md-caption">
                        <a class="nocca-nav-link">
                            HTTP API
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item layout="column">
                <div layout-fill
                    class="md-tile-content nocca-nav-block"
                    ui-sref="{{ uiStates.configuration }}"
                    ng-click="hideNavOnMouseLeave(true)">

                    <h3 class="md-title">Nocca configuration</h3>
                    <p class="md-caption">
                        As used when initializing Nocca
                    </p>
                    <p layout="column" class="md-caption">
                        <a class="nocca-nav-link">
                            Nocca configuration
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>